/* Estilos dos cards */
.card-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap; /* Para se ajustar em telas menores */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-icon {
    font-size: 2rem;
    color: green;
    margin-right: 1rem;
}

.card-info h3 {
    margin: 0;
    font-size: 1.2rem;
    color: green;
}

.card-info span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

/* Estilos dos gráficos */
.chart-container {
    padding: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.chart-container h2 {
    font-size: 1.5rem;
    color: green;
    margin-bottom: 1rem;
    text-align: left;
}

.p-chart {
    width: 100%;
    height: 400px; /* Define a altura para o gráfico */
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        width: 45%; /* Ajusta a largura dos cards em telas menores */
        margin-bottom: 1rem;
    }

    .chart-container {
        padding: 1rem;
    }

    .chart-container h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%; /* Em telas muito pequenas, cada card ocupa a largura completa */
    }
}
